*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.contenedor{
    width: 100%;
    min-height: 100vh;/*altura minima*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0px auto; /*la pagina tendra 2 columnas con las medidas anteriores*/
    grid-template-rows: 60px  40px  auto; /*la pagina tendra 2 filas con las medidas anteriores*/
    grid-template-areas: "header header" /*se establecen las areas que va a acupar cada elemento en la cuadricula*/
                          "contacto contacto"
                          "menu contenido";/* header ocupa todo lo de arriba y menu y contenido todo lo de abajo*/
    transition: all .3s ease;/*transicion en la aparicion del menu*/
    }
                        
.contenedor.activate{
    grid-template-columns: 300px auto; /* cuando el menu este activado la columna 1 aumenta su tamaño*/
}
/*---------- ------------- CABECERA ---------- -------------*/
.header{
    background-color: black;
    color: white;
    grid-area: header;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;/*1fr significa que el elemento ocupa todo el espacio que necesita y los auto se acomodan a lo que deje por decirlo asi*/
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;/*espaceado de 20px entre las divisiones del grid*/
    grid-template-areas: "logo busqueda iniciar registro";
}

.contenedor-logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}
.contenedor-logo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}
.contenedor-logo .boton-menu:hover{
    background-color: #1E8ED3;
    -ms-transform:scale(1.2);
    transition-duration: 500ms 100ms; 
}

.header .contenedor-logo .logo .fas{
    background: #ff0000;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: #ffff;
    position: relative;
    top: -4px;/*subir un poco*/
    margin-right: 4px;
}

.header .contenedor-logo .logo{
    font-family: 'bebas neue' cursive;
    color: white;
}

/*-------- ----------- BARRA DE BUSQUEDA ----------- -------------*/
.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;/*centrar elementos */
    align-items: center;
    justify-content: center;
    
}
.header .barra-busqueda input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;

}
.header .barra-busqueda button{
    height: 35px;
    border: 1px solid #ccc;
    border-left:none;
    color:#545454;
    background: #f8f8f8;
    padding: 0 25px;
    cursor: pointer;
}
/* ------ -------- MENU LATERAL ----------- ---------*/

.header .botones-header{
    grid-area: iniciar;
    display: flex;
    align-items: center;
}
.header .registrar{
    grid-area: registro;
    display: flex;
    align-items: center;
}
.header .botones-header h2{
    position: relative;
    right: 4px;
}
.header .botones-header button{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}
.header .botones-header button .fas{
    color: #fff;
}
.header .botones-header button:hover{
    background-color: #1E8ED3;
    -ms-transform:scale(1.2);
    transition-duration: 500ms 100ms; 
}
.header .botones-header .avatar{
    width:30px;
    height: 30px;
    display: inline-block;
}


.header .botones-header .avatar img{
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}
/*--------- ----------index------- ------------*/
.header .btns{
    color: #fff;
    background-color: #1E8ED3;
    padding: 10px 25px;
}
.header  a:hover{
    background-color: #7CC1EC;
}
.menu-lateral{
    grid-area: menu;
    background-color: #1E8ED3;
    height: 700px; 
    padding: 20px;
    float: left;
    padding: 20px;    
    text-align: center;
}
.menu-lateral li{
    list-style: none;
    padding: 20px 0px;
    margin: 15px auto;
    background-color: #ffff;
    border:3px solid #096BA7;
    cursor: pointer;
}

.menu-lateral li:hover{
    color: white;
    background-color: #7CC1EC;
    transform:scale(1.2);
    -ms-transform:scale(1.2);
    transition-duration: 500ms; 
}
.menu-lateral li.active{
    color: white;
    background-color: #7CC1EC;
}
.main{
    grid-area: contenido;
    background-color: white;
    padding: 40px;
}
.main .titulos{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.main .container{
    display: grid;
    grid-gap: 40px 20px;
    grid-template-columns: repeat(4,1fr);
}
.main .container .producto{
    width: 100%;
    padding: 10px;
    border:3px solid #096BA7;
}
.main .container .producto:hover{
    background-color:#218ed1 ;
    color: #fff;
}
.main .container .producto  img{
    width: 100%;
    height: 200px;
}
/*-------- ---------- CONTACTO ------- ------*/
.contenedor .contacto{
    grid-area: contacto;
    background-color: #B1C9D7;
    text-align: center;
}
.contenedor .contacto p{
    position: relative;
    top: 4px;
}
 
.main .container .producto {
    display:grid;
    grid-template-columns:200p;
}


/*------ ------ ------- -------*/
.main .container .btn{
    background-color: #096BA7;
    color: #fff;

    text-align: center;
}
.main .container .btn1{
    background-color: #a71b09;
    color: #fff;

    text-align: center;
}
.main .container .btn1:hover{
    background-color: #e74832;
}
.main .container .btn:hover{
    background-color: #74a6c4;
}
/*-------------- POPUP---------------*/
.overlay{
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background-color: #f8f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 500px;
}
.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color:#000;
}
.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}


.popup form .pendientes{
    border:3px solid #096BA7;
    padding: 10px;
    width: 100%;
}


.popup form .contenedor-inputs input{
    width: 100%;
    margin-bottom: 20px;
    height: 45px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.popup form .contenedor-inputs select{
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background-color: #096BA7;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;

}

/*----------popup registro------------*/
.overlays{
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlays.active{
    visibility: visible;
}
.popups{
    background-color: #f8f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 500px;
}
.popups .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
}

.popups .btn-cerrar-popups:hover{
    color:#000;
}
.popups h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

.popups form .contenedor-inputs{}

.popups form .contenedor-inputs input{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.popups form .contenedor-inputs select{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #bbbbbb;
}
.popups form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background-color: #096BA7;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;

}
/*comprar*/
.main .comprar{
    margin: 7vh 25vh;

}

.main .titulo{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
/*------ comprar------*/
.main .comprar .productos{
    display: felx;
    align-items: center; 
    clear: both;
    margin-bottom: 50px;
}

.main .comprar .productos .imagen{
    width: 200px;
    clear: both;
}
.main .comprar .productos .detalles{
    padding: 10px 0px;
    display: inline-block;
    vertical-align: top;
}
.main .comprar .productos .bont{
    background-color: #096BA7;
    color:#fff;
    width: 100%;
    height: 30px;
}
/**/
scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
    scroll-container {
    display: block;
    width: 450px;
    height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: 16px;
  }
  